body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.action-buttons {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.title-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.class-list {
  margin-top: 100px;  
}

.card {
  margin: 20px 10px;
}

.card h4 {
  margin: 10px 0;
}

.card ol {
  margin: 10px 0;
  line-height: 1.2em;
}

.map {
  margin-top: 86px;
}

.map,
#map {
  height: 581px;
}

.posting-card {
  margin: 20px 10px;
}

.map-toggle {
  position: fixed;
  bottom: 50px;
  z-index: 1000; 
}

.animation-enter {
  opacity: 0.01;
}

.animation-enter.animation-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.animation-leave {
  opacity: 1;
}

.animation-leave.animation-leave-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.welcome-image {
  width: 100%;
}